$primary-accent: #808fff;
$primary-light: #fff;
$primary-dark: #28282b;

$secondary-accent: #FF6666;
$secondary-light: rgb(224,225,228);
$secondary-dark: #262629;

$dark3: #141417;


$error: rgb(224,69,70);

$menu-transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);